Options -MultiViews
RewriteEngine On

RewriteBase /atatusoft/__company_websites/avatars.atatusoft.com/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
